<section class="widget">
    <header>
        <h4>
            Price Chart
        </h4>
        <div id="range-picker" class="widget-controls">
            <a data-range="1h" href="#">1 hour</a>
            <a data-range="24h" href="#">24 hours</a>
            <a data-range="48h" href="#">48 hours</a>
            <a data-range="30d" href="#">30 days</a>
            <a data-range="3M" href="#">3 month</a>
            <a data-range="6M" href="#">6 month</a>
            <a data-range="all" href="#">All time</a>
        </div>
    </header>
    <div class="body no-margin">
        <div id="visits-chart" class="chart visits-chart">
            <svg></svg>
        </div>
        <!-- <div class="visits-info well well-sm">
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <div class="key"><i class="fa fa-users"></i> Total Traffic</div>
                    <div class="value">24 541 <i class="fa fa-caret-up color-green"></i></div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="key"><i class="fa fa-bolt"></i> Unique Visits</div>
                    <div class="value">14 778 <i class="fa fa-caret-down color-red"></i></div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="key"><i class="fa fa-plus-square"></i> Revenue</div>
                    <div class="value">$3 583.18 <i class="fa fa-caret-up color-green"></i></div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="key"><i class="fa fa-user"></i> Total Sales</div>
                    <div class="value">$59 871.12 <i class="fa fa-caret-down color-red"></i></div>
                </div>
            </div>
        </div> -->
    </div>
</section>
